<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button text="" defaulthref="/tabs/tabs/chats"></ion-back-button>
		</ion-buttons>

    <ion-title>N groupe</ion-title>
    <ion-buttons slot="end" 
      *ngIf="chatGroupService.listUserData.length !== 0 && sujet.value !== ''">
      <ion-button (click)="chatGroupService.addChatGroup(sujet.value, null)">
        creer
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item lines="none">
      <ion-label lines="none" class="marg">
        <div>
          <img [src]="image" class="photo">
        </div>
        <ion-buttons>
          <ion-button >
            <ion-icon name="images-outline"></ion-icon>
          </ion-button>
          <ion-button >
            <ion-icon name="camera-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-label>
      &nbsp;&nbsp;&nbsp;<ion-item><ion-input placeholder="Taper sujet du groupe" #sujet></ion-input></ion-item>
    </ion-item>
    <ion-item lines="none">
      <ion-note>
        <small> Veuillez donner un sujet au groupe et éventuellement une icone de group </small>
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item lines="none">
      <ion-item lines="none" *ngFor="let user of chatGroupService.listUserData">
        <ion-label style="text-align: center;">
          <p><img class="profil"></p>
          <p><small>{{ user.displayName }}</small></p>
        </ion-label>
      </ion-item>
    </ion-item>
  </ion-list>

</ion-content>
