.profil{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: darkgreen;
}

.photo {
    width: 90px;
    height: 60px;
    border-radius: 50%;
}

.marg{
    padding-right: 5%;
}