<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" defaulthref="/tabs/tabs/chats"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<img src="{{ chatService.imageUser[userSend.uid] ? chatService.imageUser[userSend.uid] : ''}}"
				alt="" class="profil"> 
			{{ userSend.displayName }}
		</ion-title>
		<ion-buttons slot="end">
			<ion-button>
				<ion-icon slot="icon-only" name="videocam-outline"></ion-icon>
			</ion-button>
			<ion-button>
				<ion-icon slot="icon-only" name="call-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content id="content"
	[scrollEvents]="true" 
	style="--background: url(../../../assets/images/{{imageBg}}.svg);background-color: {{imageBg ? 'transparent' : 'var(--ion-background-color, #fff)' }};">
	<app-chat-item [chat]="chat" [userSend]="userSend"></app-chat-item>  
</ion-content>
<ion-footer class="ion-no-border">
	<ion-toolbar style="height: auto;">
		<emoji-mart title="Pick your emoji…" emoji="point_up"></emoji-mart>
		<ion-buttons slot="start">
			<ion-button (click)="openPopOver($event)">
				<ion-icon slot="icon-only" name="add-outline" color="primary"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-textarea autogrow rows="1" [(ngModel)]="text" [placeholder]="'Taper message'" (ionInput)="onMessage($event)" #message></ion-textarea>
		<ion-buttons slot="end">
			<ion-button (click)="showemoji()">
				<ion-icon slot="icon-only" [name]="showEmojiPicker?'keypad-outline':'happy-outline'" color="primary"></ion-icon>
			</ion-button>
			<ion-button *ngIf="!isSend">
				<ion-icon slot="icon-only" name="mic-outline" color="primary"></ion-icon>
			</ion-button>
			<ion-button *ngIf="isSend" (click)="addChatMessage(message.value)">
				<ion-icon slot="icon-only" name="send-outline" color="primary"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
	<div class="emojiContainer" [style.height]="showEmojiPicker?'300px':'0px'"> <!--Show/Hide emoji picker. Don't use *ngIf because the component will be created again and again and cause performance issue-->
		<emoji-picker (onEmojiSelect)="addEmoji($event)"></emoji-picker>
	</div>
</ion-footer>
