<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" defaulthref="/tabs/tabs/chats"></ion-back-button>
		</ion-buttons>
		<ion-title><img src="" alt="" class="profil"> {{ userSend.displayName }}</ion-title>
		<ion-buttons slot="end">
			<ion-button>
				<ion-icon slot="icon-only" name="videocam-outline"></ion-icon>
			</ion-button>
			<ion-button>
				<ion-icon slot="icon-only" name="call-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<app-chat-item [userSend]="userSend"></app-chat-item>
</ion-content>
<ion-footer class="ion-no-border">
	<ion-toolbar style="height: auto;">
		<ion-buttons slot="start">
			<ion-button>
				<ion-icon slot="icon-only" name="add-outline" color="primary"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-textarea autogrow rows="1" [(ngModel)]="text" [placeholder]="'Taper message'" (ionInput)="onMessage($event)" #message></ion-textarea>
		<ion-buttons slot="end">
			<ion-button *ngIf="!isSend">
				<ion-icon slot="icon-only" name="camera-outline" color="primary"></ion-icon>
			</ion-button>
			<ion-button *ngIf="!isSend">
				<ion-icon slot="icon-only" name="mic-outline" color="primary"></ion-icon>
			</ion-button>
			<ion-button *ngIf="isSend" (click)="addChatMessage(message.value)">
				<ion-icon slot="icon-only" name="send-outline" color="primary"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>
