<ion-item-sliding 
  class="message-item-sliding" 
  *ngFor="let message of chatGroupService.currentChat.message; let i = index; let l = last"
  #slidingItem (ionDrag)="messageDraged($event, slidingItem)">

  <!-- User message -->
  <ng-container *ngIf="message.sendUser !== user">
    <ion-item lines="none" class="message-user"
      [ngClass]="{'user-last-message': chatGroupService.currentChat.message[i+1]?.sendUser === user || l}">
      <div class="message-container">
        <small><b>{{ chatService.getUser(message.sendUser).nom }}~</b><br/></small>
        <p *ngIf="message.asset != ''">
          <img [src]="geturl(chatService.imageChat[message.asset])">
        </p>
        <span class="text" [innerHTML]="message.message ? message.message :''"></span>
        <div class="time">
          <ion-icon color="primary" name="checkmark-done-outline"></ion-icon>
          <small>{{message.dateEnv.toDate() | date:'HH:mm' }}</small>
        </div>
      </div>
    </ion-item>
  </ng-container>

  <!-- My message -->
  <ng-container *ngIf="message.sendUser === user">
    <ion-item lines="none" class="message-me">
      <div class="message-container" slot="end">
        <p *ngIf="message.asset != ''">
          <img [src]="geturl(chatService.imageChat[message.asset])">
        </p>
        <span class="text" [innerHTML]="message.message ? message.message :''"></span>
        <div class="time">
          <ion-icon color="primary" name="checkmark-done-outline"></ion-icon>
          <small><small>{{message.dateEnv.toDate() | date:'HH:mm' }}</small></small>
        </div>
      </div>
    </ion-item>
  </ng-container>

  <!-- Reply slide -->
  <ion-item-options side="end" class="no-border">
    <ion-item-option disabled style="--background: var(--ion-item-background);">
      <ion-icon slot="icon-only" name="arrow-undo-outline" color="primary"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>