<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    <form [formGroup]="authForm">
      <ion-item class="ion-margin-top">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" class="formControl" formControlName="email" #userName></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password" class="formControl" formControlName="password" #userPassword></ion-input>
      </ion-item>
      <ion-button fill="solid" [disabled]="authForm.invalid" class="ion-margin-top" expand="block"
        (click)="authService.SignIn(userName.value, userPassword.value)">
        Connexion</ion-button>
    </form>
    <p>
      <span routerLink="/forgot-password">Mot de passe oublié?</span>
    </p>

    <p>
      <span>je n'ai pas de compte?<span class="redirect" routerLink="/register-user"> Inscription</span></span>
    </p>
  </ion-list>
</ion-content>