<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        Change
      </ion-button>
    </ion-buttons>

    <ion-title>Chats</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/tabs/chat-new">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="full">
    <ion-button slot="start" size="small" fill="clear">
      <small>diffusions</small> 
    </ion-button>
    <ion-button slot="end" size="small" fill="clear" routerLink="/tabs/tabs/new-group">
      <small>Nouveau groupe</small> 
    </ion-button>
  </ion-item>

</ion-content>